:root {
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);
  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
}

* {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: var(--Dark-blue);
  font-weight: 900;
}

p {
  color: var(--Desaturated-blue);
  text-align: left;
  line-height: 1.5;
}

picture {
  display: inline-block;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  background: var(--Pale-blue) url("../images/pattern-background-desktop.svg") no-repeat top;
  background-size: contain;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card {
  width: 100%;
  max-width: 450px;
  margin: auto;
  background: #FFF;
  border-radius: 24px;
  overflow: hidden;
}

.card > picture {
  max-height: 220px;
  margin-bottom: 60px;
  overflow: hidden;
}

.card > picture img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: top;
     object-position: top;
}

.card .info_card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 40px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card .info_card > p {
  padding: 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.card .info_card .plan {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80px 1fr 1fr;
      grid-template-columns: 80px 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--Very-pale-blue);
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 30px;
}

.card .info_card .plan picture {
  width: 50px;
}

.card .info_card .plan picture img {
  -o-object-fit: contain;
     object-fit: contain;
}

.card .info_card .plan .info_plan {
  -ms-grid-column-align: left;
      justify-self: left;
}

.card .info_card .plan .info_plan p {
  text-align: left;
  margin: 0;
}

.card .info_card .plan .change_plan {
  justify-self: flex-end;
  color: var(--Bright-blue);
  font-weight: 700;
}

.card .info_card .btn_pay {
  background: var(--Bright-blue);
  width: 100%;
  border-radius: 10px;
  color: #FFF;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  padding: 17px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 17px 17px 6px rgba(112, 110, 187, 0.24);
          box-shadow: 0px 17px 17px 6px rgba(112, 110, 187, 0.24);
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
}

.card .info_card .btn_pay:hover {
  -webkit-box-shadow: 0px 9px 8px -4px rgba(112, 110, 187, 0.24);
          box-shadow: 0px 9px 8px -4px rgba(112, 110, 187, 0.24);
}

.card .info_card .cancelar {
  text-align: center;
  font-weight: 700;
  text-decoration: none;
  color: var(--Desaturated-blue);
}

.card .info_card .cancelar:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */